:root {
    --primary-color: #266145;
    --background-color: white;
    --text-color: #344C3C;
    --text-color2: #959595;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    min-height: 100vh;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px 8%;
    height: 50px;
    background-color: var(--primary-color);
    color: var(--background-color);
}

.navbar a {
    color: var(--background-color);
    text-decoration: none;
}

.navbar .logo {
    font-size: 30px;
    font-weight: bold;
    font-family: "Lobster Two", sans-serif;
}

.navbar .logo a {
    color: var(--background-color);
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 100px;
    box-sizing: border-box;
    height: 100%;
    position: relative;
}

.error-container {
    height: 460px;
    min-width: 25%;
    background-color: var(--background-color);
    margin-right: 5%;
    padding: 70px;
    text-align: center;
    align-content: center;
}

.error-container h1 {
    font-size: 9em;
    background: url(../images/systems/ok.jpg);
    background-clip: text;
    color: transparent;
    margin: 0;
}

.error-container h2 {
    color: #266145;
    font-size: 2em;
}

.image-container {
    width: 50%;
}

.image-container img{
    max-width: 95%;
    max-height: 700px;
}

.btn {
    margin-top: 40px;
}

.error-container a {
    text-decoration: none;
    color: white;
    font-size: .9em;
    background-color: #266145;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .navbar .logo {
        font-size: 20px;
    }

    .navbar {
        padding: 20px 0;
    }

    .container {
        flex-direction: column-reverse;
        padding: 10px;
        text-align: center;
    }

    .error-container {
        width: 80%;
        border: none;
        box-shadow: none;
        margin: 0;
        background-color: white;
        color: var(--text-color);
        text-align: center;
        height: fit-content;
        padding: 20px 0;
    }

    .error-container h1{
        font-size: 6em;
    }

    .image-container img {
        width: 100%;
    }

}