<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/css/error.css">
    <link rel="icon" type="image/x-icon" href="/images/systems/favicon2.png">
    <!-- <script defer src="all.js"></script> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <div class="logo"><a href="/">Wander.</a></div>
    </div>
    <div class="container">
        <div class="error-container">
            <h1>Oops!</h1>
            <h2>YOU ARE LOST !</h2>
            <p>The page you are looking for might have been removed or you may reach the wrong path website</p>
            <div class="btn">
                <a href="/">Go back homepage</a>
            </div>
        </div>
        <div class="image-container">
            <img src="/images/systems/Error.jpg" alt="ErrorImg">
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>
