<head>
    <link rel="stylesheet" href="/public/css/partials/headerNav.css">
</head>
<div class="nav-links">
    <a href="/page/landingPage" class="nav-link">About us</a>
    <a href="/page/bloodRecords" class="nav-link">Blood Records</a>
    <a href="#contact" class="nav-link">Contact</a>
</div>

<!-- Auth Buttons -->
<div class="nav-buttons">
    <button class="btn-ghost">Sign in</button>
    <button class="btn-primary">Sign up</button>
</div>