<header>
    <nav class="navbar">
        <div class="logo"><a href="/">Wander.</a></div>
        <button class="menu-toggle" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
        </button>
        <ul class="nav-links">
            <li><a href="/" class="active">Home</a></li>
            <li><a href=/#news>News</a></li>
            <li><a href=/#destination>Tours</a></li>
            <li><a href=/#about-us>About</a></li>
            <li><a href="/page/booking">Booking</a></li>
        </ul>
        <button class="join-btn">Join</button>
    </nav>
</header>